//
// Varibles
// --------------------------------------------------


// Colors
// --------------------------------------------------

$color-grey1: #f2f2f2;
$color-grey2: #bec2c7;
$color-grey3: #e5e5e5;

$color-white: #ffffff;
$color-black: #000000;

$color-pink: #d22856;

$color-dark1: #1d2631;
$color-dark2: #283645;

$color-bg: $color-white;
$color-bg--grey: $color-grey1;

$border-color: $color-grey3;


// Typography
// --------------------------------------------------

$font-family: "Open Sans", Arial, sans-serif;
$font-size-base: 14px;
$font-size-small: 12px;
$font-color-base: $color-dark2;

$font-size-large: 18px;
$font-size-larger: 24px;
$font-heading-large: 40px;
$font-heading-larger: 50px;



// Breakpoints
// --------------------------------------------------

$screen-sm: 320px;
$screen-md: 660px;
$screen-lg: 960px;
