//
// Form
// --------------------------------------------------

.input-text {
  
  label {
    font-size: $font-size-base;
    line-height: 1.285em;
    color: $color-pink;
    text-transform: uppercase;
  }

  &__field {
    font-size: $font-size-large;
    line-height: 1.7em;
    color: $color-dark2;

    placeholder {
      font-size: $font-size-large;
      line-height: 1.7em;
      color: $color-dark2;
    }
  }


}

.checkbox {

  label {
    font-size: $font-size-large;
    line-height: 1.7em;
  }

  &__mark {

  }
}

.radio {
  
  &__btn {

  }

  label {
    font-size: $font-size-large;
    line-height: 1.7em;
  }
}