//
// Contacts
// --------------------------------------------------

.contacts {
    padding: 40px 0 0 0;
    text-align: center;

  &__wrap {

    @media (min-width: $screen-sm) {
      padding: 0 40px;
    }

    @media (min-width: $screen-lg) {
      width: 940px;
      padding: 0 130px;
      margin: 0 auto;
    }
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 300;
    font-size: $font-size-larger;
    line-height: 1.25em;

    @media (min-width: $screen-sm){
      margin-bottom: 40px;
      font-size: 40px;
    }

    @media (min-width: $screen-lg) {
      font-size: 50px;
    }
  }

  &__detail {
    font-weight: 300;
    font-size: $font-size-larger;
    color: $color-pink;

    @media (min-width: $screen-sm) {
      display: inline-block;
      vertical-align: top;
      width: 45%;
      margin-bottom: 35px;
      text-align: center;
    }

    @media (min-width: $screen-lg) {
      width: 33%;
      text-align: center;
    }

    span {
      margin-bottom: 10px;
      font-style: normal;
      font-weight: 700;
      font-size: $font-size-large;
      line-height: 1.7em;
      color: $font-color-base;
    }
  }

  &__map {
    height: 235px;
    text-align: center;
    background-image: url(../img/bg-map-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: center center;

    @media (min-width: $screen-md) {
      height: 380px;
    }

    @media (min-width: $screen-lg) {
      height: 500px;
    }
  }
}