//
// Page-intro
// --------------------------------------------------

.page-intro {
  padding: 40px 0px;

  @media (min-width: $screen-md) and (max-width: $screen-lg) {
    padding: 85px 0px 70px;
  }

  @media (min-width: $screen-lg) {
    padding: 85px 0px;
  }

  p {
  	padding: 0 20px;
    text-align: center;
    line-height: 2.1em;

    @media (min-width: $screen-md) {
	    font-size: 18px;
	    line-height: 1.7em;
	  }
  }

  &__form-mob {
  	display: none;

  	@media (min-width: $screen-md) {
	    display: inline;
	  }
  }
}