//
// Photo blog
// --------------------------------------------------

.photo-blog {

}

  .photo-blog__wrap {
    @include container-fluid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photo-blog__slogan {
    width: 100%;
    padding: 50px 0;
    line-height: 2.1em;
    text-align: center;

    @media (min-width: $screen-md) {
      padding: 55px 0px 65px;
      font-size: $font-size-large;
      line-height: 1.7em;
    }

    @media (min-width: $screen-lg) {
      padding: 45px 0px 65px;
    }
  }
