//
// Page-header
// --------------------------------------------------

.photo-edit {
  padding: 20px 0 40px;
}

  .photo-edit__wrap {
    @include container-fluid;
    display: flex;
    flex-direction: column;
    background-color: $color-bg--grey;

    @media (min-width: $screen-md) {
      flex-direction: row;
      padding: 55px 0;
    }

    @media (min-width: $screen-lg) {
      padding: 55px 60px 55px 80px;
      box-sizing: border-box;
    }
  }


  .photo-edit__img {
    text-align: center;

    @media (min-width: $screen-md) {
      float: left;
      width: 45%;
      margin-right: 10%;
    }

    @media (min-width: $screen-lg) {
      text-align: left;
    }

    img {
      max-width: 100%;
    }

    input {
      max-width: 100%;
    }
  }

  .photo-edit__panel {
    width: 100%;
    text-align: center;

    @media (min-width: $screen-md) {
      width: 45%;
    }
  }

  .photo-edit__tools {
    text-align: center;

    @media (min-width: $screen-md) {
      text-align: left;
    }
  }

  .photo-edit__range {

  }

  .photo-edit__btns {
      text-align: center;
  }
