//
// Photo
// --------------------------------------------------

.photo {
  width: 100%;
  margin-bottom: 20px;
  background-color: $color-bg--grey;

  @media (min-width: $screen-md) {
    width: 48%;
  }

  @media (min-width: $screen-lg) {
    width: 300px;
  }

  &--featured {
  display: block;
  width: 100%;
  background-color: #fff;

    @media (min-width: $screen-lg) {
      display: block;
      width: 1200px;
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }
}

  .photo__img {
    width: 100%;
    text-align: center;
    overflow: hidden;

    @media (min-width: $screen-md) {
      height: 300px;
    }

    @media (min-width: $screen-lg) {
      height: 400px;
    }

    &--featured {
      position: relative;
    }

    img {
      min-width: 100%;
      min-height: 100%;

      @media (min-width: $screen-lg) {
        
      }
    }
  }

  .photo__label {
    position: absolute;
    color: #fff;
    font-size: $font-size-small;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $color-pink;

    @media (min-width: $screen-lg) {
      top: 50px;
      right: 10px;
      padding: 10px 20px;
    }
  }

  .photo__info {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    min-height: 140px;

    @media (min-width: $screen-md) {
      padding: 20px;
      min-height: 155px;
    }

    @media (min-width: $screen-lg) {
      padding: 25px;
    }

    &--featured {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: $color-bg--grey;

      @media (min-width: $screen-md) {
        min-height: 90px;
      }
    }
  }

  .photo__author {
    font-weight: 700;
  }

  .photo__date {
    font-weight: 400;
    text-transform: uppercase;
  }

  .photo__comment {

    &--featured {
      @media (min-width: $screen-md) {
        width: 100%;
        order: 1;
      }
    }
  }

  .photo__meta {
    margin-top: auto;

    &--featured {
      @media (min-width: $screen-md) {
        margin-top: 0;
      }
    }
  }




