//
// Poll Form
// --------------------------------------------------


.poll {
  
  &__fset {

    &--grey-bg {

    }

    & legend {
      font-size: $font-size-base;
      line-height: 1.285em;
      color: $color-pink;
      text-transform: uppercase;
    }
  }
}