//
// Poll Form
// --------------------------------------------------


.poll {
  @include container-fluid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}


  .poll__fset {
    width: 100%;
    margin-bottom: 50px;
    padding: 0 20px;
    border-width: 0;
    box-sizing: border-box;

    @media (min-width: $screen-md) {
      margin-bottom: 55px;
      padding: 35px 60px;
      border: 2px solid $border-color;
      border-radius: 3px;
    }

    @media (min-width: $screen-lg) {
      
    }

    &--personal {

      @media (min-width: $screen-md) {
        border-width: 0;
        border-radius: 0;
        padding: 0;
        order: -3;
      }

      @media (min-width: $screen-lg) {
        float: left;
        width: 49%;
        padding-right: 35px;
        box-sizing: border-box;
      }
    }

    &--apps {

      @media (min-width: $screen-md) {
        order: -2;
      }

      @media (min-width: $screen-lg) {
        width: 49%;
      }
    }

    &--contacts {

      @media (min-width: $screen-md) {
        order: -1;
      }

      @media (min-width: $screen-lg) {

      }
    }


    legend {
      padding: 0px;
      font-size: $font-size-base;
      line-height: 1.285em;
      color: $color-pink;
      text-align: center;
      text-transform: uppercase;

      @media (min-width: $screen-md) {
        padding: 0 25px;
      }
    }
  }

  .poll__top-lg {

  }

  .poll__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .poll__submit {

    @media (min-width: $screen-md) {
      
    }
  }

  .poll__detail {

    @media (min-width: $screen-md) {
      
    }
  }

