//
// Prices
// --------------------------------------------------

.prices {
	padding: 60px 0 40px;
	background-color: $color-bg--grey;
}

.price-table {
	text-transform: uppercase;

	& thead {
		text-align: center;
		color: $color-white;
		background-color: $color-dark2;
	}

	&__header {
		border: 2px solid $border-color;

		&--hit {

		}
	}

	& td {
		border: 2px solid $border-color;
	}

}

.price-yes,
.price-no {
	font-size: 0;
}
