//
// Prices
// --------------------------------------------------

.prices {
  padding: 60px 0 40px;
  background-color: $color-bg--grey;
}

  .prices__wrap {
    @include container-fluid;
  }


.price-table {
  text-transform: uppercase;

  thead {
    text-align: center;
    color: $color-white;
    background-color: $color-dark2;
  }

  td {
    border: 2px solid $border-color;
  }
}

  .price-table__header {
    border: 2px solid $border-color;

    &--hit {

    }
  }

  


.price-yes,
.price-no {
  font-size: 0;
}
