//
// Reviews
// --------------------------------------------------

.reviews {
  padding: 40px 0;
  
  &__wrap {
  
    @media (min-width: $screen-sm) and (max-width: $screen-lg) {
      padding: 0 40px;
    }

    @media (min-width: $screen-lg) {
      width: 940px;
      padding: 0 130px;
      margin: 0 auto;
    }
  }

  &__items {
    text-align: center;
  }

  &__item {

  }

  &__author {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: $font-size-large;
    line-height: 1.7em;
  }

  p {

  }
}
