//
// Reviews
// --------------------------------------------------

.reviews {
  padding: 40px 0;
}

  .reviews__wrap {
    @include container-fluid;
  }

  .reviews__items {
    text-align: center;
  }

  .reviews__item {

  }

  .reviews__author {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: $font-size-large;
    line-height: 1.7em;
  }

